doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width,initial-scale=1')
    meta(name='Description' content='Личный блог Типотека')
    title Типотека
    link(rel='preload' href='/fonts/Inter-Regular.woff2' as='font' crossorigin='anonymous')
    link(rel='preload' href='/fonts/Inter-Medium.woff2' as='font' crossorigin='anonymous')
    link(rel='preload' href='/fonts/SFProDisplay-Regular.woff2' as='font' crossorigin='anonymous')
    link(rel='stylesheet' href='/css/style.min.css')
  body

    mixin postDate(dateString)
      -
        const formatDate = (dateString) => {
          const date = new Date(dateString);
          return date.toLocaleString();
        }
      time.post__date(datetime='2019-03-21T20:33') #{formatDate(article.createdAt)}
    mixin commentDate(dateString)
      -
        const formatDate = (dateString) => {
          const date = new Date(dateString);
          return date.toLocaleString();
        }
      time.comments__date(datetime='2019-03-21T20:33') #{formatDate(article.createdAt)}

    .wrapper
      block header
        include blocks/header.pug
      block content
      block footer
        include blocks/footer.pug
    block scripts
      include blocks/js-scripts.pug
